certifi==2017.11.5
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.28
django-allauth==0.34.0
djangorestframework==3.7.7
idna==2.6
oauthlib==2.0.6
pep8==1.7.1
Pillow==5.0.0
psycopg2==2.7.3.2
pyflakes==1.6.0
PyJWT==1.5.3
PySocks==1.6.8
python-memcached==1.59
python3-openid==3.1.0
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.0.0
social-auth-core==1.5.0
twilio==6.10.1
urllib3==1.22
views==0.3
